In [33]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\antoine\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.5.3)Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ipenv (c:\users\antoine\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -ipenv (c:\users\antoine\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -ipenv (c:\users\antoine\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -ipenv (c:\users\antoine\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -ipenv (c:\users\antoine\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -ipenv (c:\users\antoine\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)

Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\antoine\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\antoine\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\antoine\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\antoine\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.1.2 -> 24.3.1
[notice] To update, run: C:\Users\Antoine\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [34]:
import pandas as pd

In [35]:
df_customers = pd.read_csv("customers.csv")

In [36]:
df_customers

,CustomerID,CustomerName,Email,JoinDate,Location
0,C000,NaN,ahowell@example.net,2021-03-03,Los Angeles
1,C001,Kevin Griffin,zdaniel@example.net,2023-11-26,SF
2,C002,Lisa Smith,woodsamantha@example.com,2024-07-02,San Francisco
3,C003,Nicholas Roberts,gallagheranthony@example.net,2021-05-05,LA
4,C004,NaN,ipeterson@example.org,2024-04-07,New York
...,...,...,...,...,...
195,C195,Jennifer Smith,michellefarmer@example.org,2024-10-13,LA
196,C196,Sarah Benjamin,invalid_email,2022-06-05,Los Angeles
197,C197,Alexander Sanders,robert78@example.net,2022-09-13,San Francisco
198,C198,Robert Ramirez,wayne39@example.org,2020-03-04,SF
199,C199,Matthew Miller,marie62@example.org,2023-04-28,San Francisco

# clean up les données

In [60]:
#on remarque qu'on a 21 noms vides, on va les substituer par des noms génériques, ex: John Doe. Si on obeservait une correlation entre les noms et les adresses email, on pourrait potentiellement essayer de reconstituer le nom, mais pas ici

df_customers.isna().sum()

CustomerID      0
CustomerName    0
Email           0
JoinDate        0
Location        0
dtype: int64

In [38]:
df_customers["CustomerName"] = df_customers["CustomerName"].fillna("John Doe")

### on remarque aussi que certaines adresses email sont invalid_email, substituons les pour qqch de générique comme prenom.nom@example.com

In [39]:
#On pourrait aussi juste les drop, mais dans ce contexte ça me semble être la bonne chose à faire

mask = df_customers["Email"] == "invalid_email"
df_customers.loc[mask,"Email"] = df_customers.loc[mask,"CustomerName"].apply(lambda x : "_".join(x.split(" "))) + "@gmail.com"

In [40]:
df_customers

,CustomerID,CustomerName,Email,JoinDate,Location
0,C000,John Doe,ahowell@example.net,2021-03-03,Los Angeles
1,C001,Kevin Griffin,zdaniel@example.net,2023-11-26,SF
2,C002,Lisa Smith,woodsamantha@example.com,2024-07-02,San Francisco
3,C003,Nicholas Roberts,gallagheranthony@example.net,2021-05-05,LA
4,C004,John Doe,ipeterson@example.org,2024-04-07,New York
...,...,...,...,...,...
195,C195,Jennifer Smith,michellefarmer@example.org,2024-10-13,LA
196,C196,Sarah Benjamin,Sarah_Benjamin@gmail.com,2022-06-05,Los Angeles
197,C197,Alexander Sanders,robert78@example.net,2022-09-13,San Francisco
198,C198,Robert Ramirez,wayne39@example.org,2020-03-04,SF
199,C199,Matthew Miller,marie62@example.org,2023-04-28,San Francisco

In [47]:
### on voit également que certaines villes sont sous forme abbregée, remplacons
mask_location = df_customers["Location"].apply(lambda x : len(x) == 2)
invalids = set(df_customers["Location"][mask_location])

In [48]:
to_replace = {'LA' : "Los Angeles", 'SF' : "San Francisco"}
df_customers.loc[mask_location,"Location"].replace(to_replace)

1      San Francisco
3        Los Angeles
5        Los Angeles
6        Los Angeles
10     San Francisco
13     San Francisco
26       Los Angeles
30     San Francisco
38       Los Angeles
49       Los Angeles
50     San Francisco
51       Los Angeles
53       Los Angeles
57       Los Angeles
61       Los Angeles
67     San Francisco
79       Los Angeles
82     San Francisco
85     San Francisco
87     San Francisco
89       Los Angeles
90     San Francisco
94       Los Angeles
96     San Francisco
97     San Francisco
99     San Francisco
101    San Francisco
103    San Francisco
109      Los Angeles
111    San Francisco
117    San Francisco
120      Los Angeles
122    San Francisco
124    San Francisco
126    San Francisco
131      Los Angeles
136    San Francisco
141      Los Angeles
143    San Francisco
145    San Francisco
152      Los Angeles
153      Los Angeles
154    San Francisco
163      Los Angeles
167      Los Angeles
168    San Francisco
171    San Francisco
175      Los Angeles
177      Los Angeles
179      Los Angeles
180    San Francisco
182      Los Angeles
183    San Francisco
194      Los Angeles
195      Los Angeles
198    San Francisco
Name: Location, dtype: object

In [49]:
### On a donc le tableau nettoyé
df_customers["JoinDate"]

,CustomerID,CustomerName,Email,JoinDate,Location
0,C000,John Doe,ahowell@example.net,2021-03-03,Los Angeles
1,C001,Kevin Griffin,zdaniel@example.net,2023-11-26,SF
2,C002,Lisa Smith,woodsamantha@example.com,2024-07-02,San Francisco
3,C003,Nicholas Roberts,gallagheranthony@example.net,2021-05-05,LA
4,C004,John Doe,ipeterson@example.org,2024-04-07,New York
...,...,...,...,...,...
195,C195,Jennifer Smith,michellefarmer@example.org,2024-10-13,LA
196,C196,Sarah Benjamin,Sarah_Benjamin@gmail.com,2022-06-05,Los Angeles
197,C197,Alexander Sanders,robert78@example.net,2022-09-13,San Francisco
198,C198,Robert Ramirez,wayne39@example.org,2020-03-04,SF
199,C199,Matthew Miller,marie62@example.org,2023-04-28,San Francisco

### on continue pour les autres aussi

In [50]:
#semble okay mais je créerais une table pour les compagnies ici
orders_df = pd.read_csv("orders.csv")
orders_df

,OrderID,CustomerID,ProductID,OrderDate,Quantity,TotalAmount,OrderStatus,Company
0,O000,C047,P038,2025-01-10 06:32:44,6,2669.40,Completed,Bright Ltd
1,O001,C113,P079,2025-01-01 02:58:50,3,1366.47,Completed,Jordan-Little
2,O002,C106,P018,2025-01-13 06:09:18,8,2509.52,Completed,"Kaiser, Vargas and Smith"
3,O002,C187,P083,2025-01-13 06:09:18,10,2934.70,Completed,"Kaiser, Vargas and Smith"
4,O002,C144,P074,2025-01-13 06:09:18,2,443.58,Completed,"Kaiser, Vargas and Smith"
...,...,...,...,...,...,...,...,...
12468,O4998,C180,P014,2025-01-08 18:42:54,5,852.30,Pending,Sanders PLC
12469,O4999,C115,P055,2025-01-07 17:43:24,8,1843.20,Canceled,Hardin-Smith
12470,O4999,C166,P033,2025-01-07 17:43:24,2,282.94,Canceled,Hardin-Smith
12471,O4999,C139,P034,2025-01-07 17:43:24,1,250.22,Canceled,Hardin-Smith
12472,O4999,C184,P096,2025-01-07 17:43:24,6,2496.72,Canceled,Hardin-Smith

In [61]:
orders_df.isna().sum()

OrderID           0
CustomerID        0
ProductID         0
OrderDate         0
Quantity          0
TotalAmount       0
OrderStatus       0
Company        1280
dtype: int64

In [68]:
order_nan_mask = orders_df["Company"].isna()
orders_df[order_nan_mask]

,OrderID,CustomerID,ProductID,OrderDate,Quantity,TotalAmount,OrderStatus,Company
8,O004,C079,P060,2025-01-10 20:30:29,7,851.34,Completed,NaN
24,O010,C032,P069,2025-01-09 05:04:43,1,138.80,Pending,NaN
25,O010,C195,P074,2025-01-09 05:04:43,2,443.58,Pending,NaN
26,O010,C136,P021,2025-01-09 05:04:43,6,2124.90,Pending,NaN
27,O010,C159,P062,2025-01-09 05:04:43,4,266.36,Pending,NaN
...,...,...,...,...,...,...,...,...
12354,O4949,C131,P039,2025-01-06 04:15:48,7,2692.41,Canceled,NaN
12355,O4949,C007,P079,2025-01-06 04:15:48,7,3188.43,Canceled,NaN
12446,O4991,C071,P045,2025-01-08 13:03:31,1,32.13,Completed,NaN
12447,O4991,C113,P095,2025-01-08 13:03:31,9,2053.80,Completed,NaN
12448,O4991,C160,P072,2025-01-08 13:03:31,1,422.59,Completed,NaN

In [64]:
#regardons si une seule compagnie peut produire un Product en particulier
mask_product = orders_df["ProductID"] == "P060"
orders_df[mask_product]
# on dirait que non

,OrderID,CustomerID,ProductID,OrderDate,Quantity,TotalAmount,OrderStatus,Company
8,O004,C079,P060,2025-01-10 20:30:29,7,851.34,Completed,NaN
105,O040,C082,P060,2025-01-11 19:18:48,7,851.34,Canceled,"Ball, Gomez and Watson"
119,O046,C055,P060,2025-01-09 14:58:23,4,486.48,Pending,Blake-Schneider
291,O116,C062,P060,2025-01-11 22:56:23,5,608.10,Pending,"Vazquez, Moore and Stephens"
766,O301,C013,P060,2025-01-05 00:06:26,9,1094.58,Completed,"Mills, Palmer and Riley"
...,...,...,...,...,...,...,...,...
11810,O4736,C094,P060,2025-01-09 11:16:07,3,364.86,Completed,Ramirez-Diaz
11843,O4746,C088,P060,2025-01-13 05:30:36,1,121.62,Completed,Smith Ltd
12075,O4839,C198,P060,2025-01-07 15:03:56,3,364.86,Pending,Delgado-Lopez
12108,O4849,C082,P060,2025-01-08 23:05:52,2,243.24,Pending,Colon-Lopez
12357,O4950,C189,P060,2025-01-04 23:11:29,10,1216.20,Completed,Dominguez-Perkins

In [67]:
#regardons plutot si il est possible qu'une compagnie remplit une seule order
order_4_mask = orders_df["OrderID"] == "O004"
orders_df[order_4_mask]

,OrderID,CustomerID,ProductID,OrderDate,Quantity,TotalAmount,OrderStatus,Company
8,O004,C079,P060,2025-01-10 20:30:29,7,851.34,Completed,NaN

In [164]:
#non plus, je vais donc drop ces cols avant de train car ces données ne sont pas fiables
orders_df.drop(orders_df[order_nan_mask].index, inplace=True)
orders_df.reset_index(inplace=True, drop=True)
orders_df

,OrderID,CustomerID,ProductID,OrderDate,Quantity,TotalAmount,OrderStatus,Company
0,O000,C047,P038,2025-01-10 06:32:44,6,2669.40,Completed,Bright Ltd
1,O001,C113,P079,2025-01-01 02:58:50,3,1366.47,Completed,Jordan-Little
2,O002,C106,P018,2025-01-13 06:09:18,8,2509.52,Completed,"Kaiser, Vargas and Smith"
3,O002,C187,P083,2025-01-13 06:09:18,10,2934.70,Completed,"Kaiser, Vargas and Smith"
4,O002,C144,P074,2025-01-13 06:09:18,2,443.58,Completed,"Kaiser, Vargas and Smith"
...,...,...,...,...,...,...,...,...
11188,O4998,C180,P014,2025-01-08 18:42:54,5,852.30,Pending,Sanders PLC
11189,O4999,C115,P055,2025-01-07 17:43:24,8,1843.20,Canceled,Hardin-Smith
11190,O4999,C166,P033,2025-01-07 17:43:24,2,282.94,Canceled,Hardin-Smith
11191,O4999,C139,P034,2025-01-07 17:43:24,1,250.22,Canceled,Hardin-Smith
11192,O4999,C184,P096,2025-01-07 17:43:24,6,2496.72,Canceled,Hardin-Smith

In [55]:
#tout mettre les cateogies en lower case
products_df = pd.read_csv("products.csv")
new_col = products_df["Category"].apply(lambda x: x.lower())

In [56]:
products_df["Category"] = new_col

In [163]:
products_df.drop(products_df[order_nan_mask].index, inplace=True)
products_df.reset_index(inplace=True, drop=True)
products_df

C:\Users\Antoine\AppData\Local\Temp\ipykernel_13132\1022609970.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  products_df.drop(products_df[order_nan_mask].index, inplace=True)

   ProductID  ProductName     Category   Price
0       P000         Fall         home  179.77
1       P001       Table      clothing  274.88
2       P002    Available         home  373.82
3       P003         Hit      clothing  219.38
4       P004         Fear  electronics  291.30
..       ...          ...          ...     ...
65      P095       Civil          home  228.20
66      P096      Arrive      clothing  416.12
67      P097  Deal Deluxe         home  187.12
68      P098       Pretty         home  441.39
69      P099     Material         home  109.47

[70 rows x 4 columns]

# Modèle 1: Par fréquence

je commence par batir un algo de recommendation qui suggère tout simplement l'objet le plus acheté par chaque client

In [136]:
#pour obtenir le nombre de commande de chacun
df_quant = orders_df.groupby(by=["CustomerID","ProductID"])["Quantity"].sum().reset_index()

In [150]:
#je peux donc pour un utilisateur donné, lui recommander avec la méthode

def get_rec(customerID, df: pd.DataFrame):
    m = df["CustomerID"] == customerID
    idx = df_quant[m]["Quantity"].max() == df_quant[m]["Quantity"]
    return df_quant[m][idx]["ProductID"].values[0]


assert get_rec("C000",df_quant) == "P044"

### Le plus acheté par nom

In [165]:
merged = orders_df.merge(df_customers, on="CustomerID")
merged

,OrderID,CustomerID,ProductID,OrderDate,Quantity,TotalAmount,OrderStatus,Company,CustomerName,Email,JoinDate,Location
0,O000,C047,P038,2025-01-10 06:32:44,6,2669.40,Completed,Bright Ltd,Jeffrey Wade,rebeccadavis@example.com,2020-07-07,San Francisco
1,O252,C047,P020,2025-01-03 13:25:25,10,1834.80,Completed,Cochran-Foster,Jeffrey Wade,rebeccadavis@example.com,2020-07-07,San Francisco
2,O345,C047,P042,2025-01-13 11:00:35,5,2383.30,Canceled,Holt-Taylor,Jeffrey Wade,rebeccadavis@example.com,2020-07-07,San Francisco
3,O347,C047,P008,2025-01-10 21:00:30,1,128.88,Pending,"Dorsey, Strong and Vaughn",Jeffrey Wade,rebeccadavis@example.com,2020-07-07,San Francisco
4,O360,C047,P077,2025-01-09 18:30:10,6,2293.74,Completed,"Griffin, Jenkins and Berry",Jeffrey Wade,rebeccadavis@example.com,2020-07-07,San Francisco
...,...,...,...,...,...,...,...,...,...,...,...,...
11188,O4110,C042,P017,2025-01-02 07:13:58,1,259.66,Pending,Collins LLC,Russell Koch,logan31@example.net,2022-04-23,San Francisco
11189,O4121,C042,P052,2025-01-01 04:40:05,3,515.25,Completed,Casey and Sons,Russell Koch,logan31@example.net,2022-04-23,San Francisco
11190,O4206,C042,P078,2025-01-10 20:48:17,5,2035.40,Pending,Cook Group,Russell Koch,logan31@example.net,2022-04-23,San Francisco
11191,O4400,C042,P005,2025-01-13 11:06:55,10,3885.20,Completed,"Woods, Jennings and Davis",Russell Koch,logan31@example.net,2022-04-23,San Francisco
11192,O4723,C042,P052,2025-01-01 07:24:17,8,1374.00,Completed,"Ortiz, Grant and Murray",Russell Koch,logan31@example.net,2022-04-23,San Francisco

In [166]:
merged["firstName"] = merged["CustomerName"].apply(lambda x: x.split(" ")[0])

In [177]:
tableau_achat_par_nom =  pd.DataFrame(merged.groupby(by=["firstName","ProductID"])["Quantity"].sum())
tableau_achat_par_nom.reset_index().groupby("firstName")[["ProductID","Quantity"]].max()

           ProductID  Quantity
firstName
Aaron           P097        19
Alexander       P094        25
Alexandria      P099        18
Alison          P088        18
Allen           P097        19
...              ...       ...
Tonya           P098        22
Travis          P098        20
Victoria        P096        21
Vincent         P097        18
Wendy           P096        20

[125 rows x 2 columns]

## articles moins vendeurs par région

In [ ]:
by_region_min = merged.groupby(by=["Location","ProductID"])["Quantity"].sum().reset_index()

by_region_min.groupby(by=["Location"])[["ProductID","Quantity"]].agg({"ProductID": "first", "Quantity": "min"})

              ProductID  Quantity
Location
LA                 P000        33
Los Angeles        P000        69
NYC                P000        28
New York           P000        69
SF                 P000        28
San Francisco      P000        42

composed_transactions

In [191]:
composed_transation = orders_df.groupby(by="OrderID").first()
composed_transation

,CustomerID,ProductID,OrderDate,Quantity,TotalAmount,OrderStatus,Company
OrderID,,,,,,,
O000,C047,P038,2025-01-10 06:32:44,6,2669.40,Completed,Bright Ltd
O001,C113,P079,2025-01-01 02:58:50,3,1366.47,Completed,Jordan-Little
O002,C106,P018,2025-01-13 06:09:18,8,2509.52,Completed,"Kaiser, Vargas and Smith"
O003,C173,P003,2025-01-13 07:16:01,9,1974.42,Canceled,Singleton-Zimmerman
O005,C023,P011,2025-01-07 22:43:10,9,458.10,Completed,Brown-Crawford
...,...,...,...,...,...,...,...
O995,C148,P035,2025-01-12 01:07:04,6,81.36,Canceled,"Robles, Allen and Morris"
O996,C099,P018,2025-01-09 13:53:22,8,2509.52,Pending,"Lewis, Levy and Macias"
O997,C116,P043,2025-01-04 03:56:44,6,2529.90,Pending,Torres Group
O998,C000,P027,2025-01-05 06:13:57,7,1607.97,Pending,Harris LLC
O999,C180,P020,2025-01-02 22:26:40,10,1834.80,Canceled,Baxter-Walker

plus de cancelations

In [ ]:
canceled_mask = merged["OrderStatus"] == "Canceled"
cancels_per_name = pd.DataFrame(merged[canceled_mask].groupby(by="firstName")["OrderID"].count()).reset_index()

cancels_per_name = cancels_per_name.rename(columns={"OrderID":"count"})
cancels_per_name.sort_values(by="count",ascending=False)

#John est le plus

    firstName  count
57       John    486
84    Michael    103
30      David     79
118   Timothy     76
86        Mr.     71
..        ...    ...
4       Allen     13
46      Holly     13
56       Jill     12
79      Maria     10
93    Phyllis     10

[125 rows x 2 columns]

# La suite

Faire un modèle prédictif avec un transformer pour modéliser les achats/cancellations en time series. Sachant que l'objectif est de minimiser les cancellations et de maximiser les achats, on pourrait train un petit transformer ou même juste une régression logistique pour voir si certains facteurs sont plus ou moins influents sur les résultats finaux